<div class="container-profile">
    <h1 class="title">GITHUB - USER PROFILE</h1>
    <div id="profile">
        <h2>Bienvenid@ {{user.name}}</h2>
        {{#if user.email}}
        <p>Email: {{user.email}}</p>
        {{/if}}
        <div class="container-profile">
            <form action="/users/logout" method="GET">
                <button type="submit">Cerrar Sesión</button>
            </form>
        </div>
        {{#each products}}
        <div class="card" style="width: 25rem;">
            <img src="{{imageUrl}}" class="mx-auto img-thumbnail img" alt="{{title}}">
            <div class="card_info card-body">
                <h3 class="card-text">{{title}}</h3>
                <p class="card-text"><strong>Precio: </strong> ${{price}}</p>
                <p class="card-text"><strong>Stock: </strong>{{stock}}</p>
                <p class="card-text"><strong>Categoria: </strong>{{category}}</p>
            </div>
            <div>
                <button class="btn cart px-auto add-to-cart-btn" addProductID="{{_id}}">Añadir producto</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>